*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom right, lightblue, lightgreen);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    background-color: rgba(255, 255, 255, 0.8);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    position: relative;
    font-size: 2em;
}

.number{
    position: absolute;
    height: 100%;
    width: 100%;
}

.number1{ transform: rotate(30deg); }
.number2{ transform: rotate(60deg); }
.number3{ transform: rotate(90deg); }
.number4{ transform: rotate(120deg); }
.number5{ transform: rotate(150deg); }
.number6{ transform: rotate(180deg); }
.number7{ transform: rotate(210deg); }
.number8{ transform: rotate(240deg); }
.number9{ transform: rotate(270deg); }
.number10{ transform: rotate(300deg); }
.number11{ transform: rotate(330deg); }

.rot1{ 
    display: inline-block;
    transform: rotate(-30deg);
}
.rot2{ 
    display: inline-block;
    transform: rotate(-60deg);
}
.rot3{ 
    display: inline-block;
    transform: rotate(-90deg);
}
.rot4{ 
    display: inline-block;
    transform: rotate(-120deg);
}
.rot5{ 
    display: inline-block;
    transform: rotate(-150deg);
}
.rot6{ 
    display: inline-block;
    transform: rotate(-180deg);
}
.rot7{ 
    display: inline-block;
    transform: rotate(-210deg);
}
.rot8{ 
    display: inline-block;
    transform: rotate(-240deg);
}
.rot9{ 
    display: inline-block;
    transform: rotate(-270deg);
}
.rot10{ 
    display: inline-block;
    transform: rotate(-300deg);
}
.rot11{ 
    display: inline-block;
    transform: rotate(-330deg);
}

.ponteiro {
--rotation: 0;
position: absolute;
bottom: 50%;
left: 50%;
width: 25px;
height: 28%;
transform-origin: bottom;
transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
z-index: 10;


}

.hora{

    width: 35px;
    height: 25%;
    background-image: url(ponteiro.png);
    background-size: 100% 100%;
    
}

.minuto{
    
    height: 38%;
    width: 20px;
    background-image: url(ponteiro.png);
    background-size: 100% 100%;
    transition: 0.8s;
    
}

.segundo{
    height: 45%;
    width: 2px;
    background-color: red;
    border-radius: 50%;
    transition: 0.8s;

}

.clock::after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    z-index: 11;
    background-color: black;
    transform: translate(-50%, -50%);
}